@font-face {
  font-family: yo;
  src: url(https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap)
}
.app{
  width: 100%;

}
.App-header {
  margin: 0;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 120px;
  border: 1px solid lightgrey;
  padding-left: 20px;
  
}


body {
  display: flex;
  justify-content: center;
  /* background-image: url("https://i.pinimg.com/originals/b0/ff/1a/b0ff1a3520386aacce5cbad2986edc89.jpg"); */
  background-color: white;

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */}

#root {
  width: 100%;
  margin: 30px;
  margin-top: 0%;
}


.background {
  text-align: center;
}

 .title {
  color:orange;
  font-size: 50px;
  font-family: cursive;
  
}


.title_sub {

}

.title_section {
display: flex;
}

input {

}

.input_box {
  margin-top: 5px;
  height: 100px;
}

.submit {
  display: flex;
  margin: 0 auto;
  margin-top:5px;
}


.name {
  margin-top: 10px;
}

.topbar {
    text-align: right;
    font-size: 20px;
  }


.avatar {
  width: 60px;
  margin: 0 auto;
  background-Color: white;
  border-radius: 50%;

 
}

.avatar_parent {
 
}



.name {
  display:flex;
  justify-Content: center;
  color: black;
}

.hero_box {
  border-Style: solid;
  border-Width: 1px;
  border-Color: lightblue;
  width: 60%;
  height: 100%;
  background-Color: lightBlue;
  border-radius: 3px;
}

.link {
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  background-color: hotpink;
  border-radius: 17%;
  margin-top: 0 auto;
  height: 25px;
}

.Clock{
text-align: center;
}

.Clock h2 {
  color: blue;
}

.Clock h4{
  color: orange;
}